
<section class="group-cards" id="group-cards-container">
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Banana</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Apple</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Pear</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Strawberry</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Banana</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Apple</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Pear</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Strawberry</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Banana</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Apple</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Pear</h2>
  </div>
  <div class="group-card">
    <img class="group-card__image" src="http://placehold.it/200x200">
    <h2 class="group-card__header">Strawberry</h2>
  </div>

  <div>
    <%= link_to '+', new_item_path(parent: @item), class: 'edit' %>
  </div>
</section>
