
<section class="group-cards" id="group-cards-container">
  <div class="group-card">
    <h2 class="group-card__header">Banana</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Apple</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Pear</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Strawberry</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Banana</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Apple</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Pear</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Strawberry</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Banana</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Apple</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Pear</h2>
  </div>
  <div class="group-card">
    <h2 class="group-card__header">Strawberry</h2>
  </div>
</section>