<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Event type</th>
      <th>Description</th>
      <th>Create date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_type %></td>
        <td><%= event.description %></td>
        <td><%= event.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

