.chosen-item-callout {
  text-align: center;
}

.chosen-item-callout__heading {
  margin-bottom: 30px;
  font-size: 60px;
  margin-top: 40px;
  color: #25b1e2;
  font-family: 'Open Sans', sans-serif;
}

.chosen-item-callout__done__link {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-lg;
}

.chosen-item-callout__image {
  width: 50%;
}

#delete_step2 {
//  display: none;
  position: absolute;
  bottom: -130px;
  right: 130px;
}
