.group-card {
  border: 1px solid #333;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  float: left;
}

.edit {
  position: fixed;
  bottom: 5px;
  right: 15px;
  background-image: image-url('i_add.png');
  height: 85px;
  width: 84px;
  text-indent: -9999px;
}
