
.group-cards {
  @include clearfix;
}

.group-card {
  padding: 10px;
  margin: 10px;
  width: 200px;
  float: left;
  background-color: #fafafa;
  color: #333333;

  &:hover {
    color: #333333;
    text-decoration: none;
  }
}

.edit {
  position: fixed;
  bottom: 5px;
  right: 15px;
  background-image: image-url('i_add.png');
  height: 85px;
  width: 84px;
  text-indent: -9999px;
}

.group-card__header {
  margin-top: 10px;
}

.group-card__image {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}