.group-card {
  display: inline-block;
  width: 40%;
  padding: 10px;
  margin: 5px;
  
  background-color: #fafafa;
  color: #333333;

  &:hover {
    color: #333333;
    text-decoration: none;
  }
}

.group-card__image {
  width: 100%;
}

.group-card__header {
  margin-top: 10px;
}

.edit {
  position: fixed;
  bottom: 5px;
  right: 15px;
  background-image: image-url('i_add.png');
  height: 85px;
  width: 84px;
  text-indent: -9999px;
}

@media (min-width: $screen-sm-min) {
  .group-cards {
    @include clearfix;
  }

  .group-card {
    width: 200px;
    float: left;
    margin: 10px;
  }
}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}