
<section class="group-cards" id="group-cards-container">
  <% @items.each do | item |%>


  <a class="group-card" href="<%= item_path(item.id) %>">
    <h2 class="group-card__header"><%= item.name%></h2>
  </a>
  <% end %>

  <div>
    <%= link_to '+', new_item_path, class: 'edit' %>
  </div>
</section>
