<section class="chosen-item-callout">
  <img id="item_image" class="chosen-item-callout__image" src="<%= image_item_path(@item, format: :jpg) %>">
  <audio id="item_audio" src="<%= audio_item_path(@item, format: :wav) %>" autoplay="true" autobuffer="true" ></audio>
  <h1 class="chosen-item-callout__heading">You have chosen <%= @item.name%></h1>
  <p class="chosen-item-callout__done">
    <a href="/" class="chosen-item-callout__done__link"><i class="fa fa-check"></i> Done</a>
  </p>
  <p class="chosen-item-callout__delete">
    <div id="delete_step2">
      <%= button_to 'Confirm Delete', item_path(@item), method: :delete, class: 'chosen-item-callout__delete__link' %>
    </div>
  </p>
</section>
<script>
var itemAudio = $("#item_audio")[0];
$("#item_image")
	.on("click",function() {
		itemAudio.play();
	});
</script>
