<section class="chosen-item-callout">
  <img class="chosen-item-callout__image" src="<%= image_item_path(@item, format: :jpg) %>">
  <audio controls src="<%= audio_item_path(@item, format: :wav) %>" autoplay="true" autobuffer="true" ></audio>
  <h1 class="chosen-item-callout__heading">You have chosen <%= @item.name%></h1>
  <p class="chosen-item-callout__done">
    <a href="/" class="chosen-item-callout__done__link"><i class="fa fa-check"></i> Done</a>
  </p>
</section>

