@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


@import "bootstrap-overrides/navbar";
@import "bootstrap-overrides/container";

// Application specific css
@import 'groups/group-cards';
@import 'groups/chosen-item-callout';


.cache-progress-bar {
  display: none;
  clear: left;
}

.cache-progress-bar__container {
  width: 100%;
  height: 20px;
}

.cache-progress-bar__progress {
  height: 20px;
  width: 0%;
  background-color: green;
}